<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 70%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

div {
  display:flex;
  justify-content: center;
  margin-top: 2rem;
}

#createBtn {
  color: #f1f1f1;
  height: 30px;
  background-color: #0b4e75;
  margin-left: 92rem;
  margin-top: 5rem;
  cursor: pointer;
}

</style>
</head>
<body>
<button  id="createBtn" (click)="InitNewPerson()">Create New Person</button>

<div>

<table>
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Place</th>
    <th colspan="2">Actions</th>

  </tr>
  <tr *ngFor="let name of names">
    <td>{{name.firstName}}</td>
    <td>{{name.lastName}}</td>
    <td>{{name.place}}</td>
    <td><button (click)="EditPerson(name)">Edit</button></td>
    <td><button (click)="deletePerson(name)">Delete</button></td>

  </tr>

</table>

</div>
<app-edit-name [name]="personToEdit" (personsUpdated)="UpdatePersonsList($event)"></app-edit-name>
</body>
</html>

